@model FypNew.Models.projectProgress2
<script type="text/javascript">
    @if (ViewBag.AlertMessage != null)
    {
        @:alert(ViewBag.AlertMessage);
            }
</script>

<link href="~/plugin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<div class="content container">
    <div align="center" class="col-lg-7">
        <div class="row">
            <div class="col-md-10" align="center">
                <section class="widget" align="center">
                    <header>
                        <h4>
                            <i class="fa fa-star"></i>
                            Grid of images .....
                        </h4>
                    </header>
                    <div class="body" align="center">
                        <ul id="grid" class="row thumbnails">
                            <content id="myContent">
                                @if (Model.projectdata.Count > 0)
                                {
                                    Html.RenderPartial("_projectProgress", Model.projectdata);
                                }
                            </content>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-lg-5" align="center">
        <section class="widget" align="center">
            <h2 class="widget-about">Team<span class="fw-semi-bold">Members</span></h2>
            <div class="body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th></th>
                            <th>Name</th>
                            <th>Detail</th>
                            <th>request</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr onclick="location.href='@Url.Action("profile", "Home", new {id=Model.teamLead.user_Id })'">
                            <td style="vertical-align:middle">
                                <text>Team Leader</text>
                            </td>
                            <td>
                                <img class="img-rounded" src=@Url.Content("/Content/profilePic/" + Model.teamLead.user_Id + ".jpg") onerror="this.onerror=null ; this.src='@Url.Content("/Content/0.jpg")';" alt="" height="50" width="50">
                            </td>
                            <td style="vertical-align:middle">
                                <text>@Model.teamLead.user_FullName</text>
                            </td>
                            <td style="vertical-align:middle">
                                <text>
                                    @Model.teamLead.user_description
                                </text>
                            </td>
                            <td style="vertical-align:middle">
                                    <text>
                                        <span class="glyphicon glyphicon-check" style="color:green">Approved</span>
                                    </text>
                            </td>
                        </tr>













                        @{
                            var i = 1;
                            foreach (var v in Model.usesrData)
                            {
                                <tr onclick="location.href='@Url.Action("profile", "Home", new {id=v.user_Id })'">
                                    <td style="vertical-align:middle">
                                        <text>@i</text>
                                    </td>
                                    <td>
                                        <img class="img-rounded" src=@Url.Content("/Content/profilePic/" + v.user_Id + ".jpg") onerror="this.onerror=null ; this.src='@Url.Content("/Content/0.jpg")';" alt="" height="50" width="50">
                                    </td>
                                    <td style="vertical-align:middle">
                                        <text>@v.user_FullName</text>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <text>
                                            @v.user_description
                                        </text>
                                    </td>
                                    <td style="vertical-align:middle">
                                        @if (v.teamMembersTables.Where(r => r.user_id == v.user_Id && r.project_id == Model.projectID).FirstOrDefault().request)
                                        {
                                            <text>
                                                <span class="glyphicon glyphicon-check" style="color:green">Approved</span>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <span class="glyphicon glyphicon-alert" style="color:yellow">Waiting</span>
                                            </text>
                                        }
                                    </td>
                                </tr>
                                        i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <section class="widget" align="center">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>Project Documents List
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="hidden-xs">#</th>
                                    <th>file Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var j = 1;
                                    if (Model.projectdata.Count > 0)
                                    {
                                        foreach (var d in Model.projectdata)
                                        {

                                            if (d.link.Contains(".pdf"))
                                            {
                                                <tr>
                                                    <td>@j</td>
                                                    <td id="@d.link" onclick="openDialog(this)">
                                                        @d.link
                                                    </td>
                                                </tr>
                                                j++;
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>

    <!--------------------PICTURE Modal--------------------->



    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title alert alert-warning">Select Care fully to Delete</h4>
                </div>
                <div class="modal-body">
                    <table>
                        @if (Model.projectdata.Count > 0)
                        {
                            foreach (var v in Model.projectdata)
                            {
                                if (!v.link.Contains(".pdf"))
                                {
                                    <tr style="display:list-item; border-bottom: 1px solid black; ">
                                        <td>
                                            @{string vs = "~/Content/projectsData/" + v.link;
                                            <img src=@Url.Content(vs) height="70" width="70" onclick="delImage(@v.srNo)" alt="">
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!------------edit Members----------->

    <div class="modal fade" id="editMembersModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title alert alert-warning">Update your Team</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-lg table-striped" style=" color:black;">
                        <thead class="tab-header">
                            <tr style="color:black;">
                                <th style="color:black;"></th>
                                <th style="color:black;">Name</th>
                                <th style="color:black;">decription</th>
                                <th style="color:black;">delete</th>
                            </tr>
                        </thead>
                        <tbody class="table-lg">
                            @if (Model.projectdata.Count > 0)
                            {
                                foreach (var v in Model.usesrData)
                                {
                                    <tr style=" border-bottom: 1px solid black; ">
                                        <td style="vertical-align:middle;">
                                            @{string vs = "~/Content/profilePic/" + v.user_Id + ".jpg";
                                            <img src=@Url.Content(vs) onerror="this.onerror=null ; this.src='@Url.Content("/Content/0.jpg")';" height="70" width="70" alt="">
                                            }
                                        </td>
                                        <td style="vertical-align:middle;"><text>@v.user_FullName</text></td>
                                        <td style="vertical-align:middle;"><text>@v.user_description</text></td>
                                        <td style="vertical-align:middle;" id="@v.user_Id" onclick="delMemberClick(this)"><i class="fa fa-times" aria-hidden="true"></i></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="newMemberBtn" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>Add New Member</button><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!------PDF modal -->


    <div class="modal modal-lg fade" id="my1Modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>File</h4>
                </div>
                <div class="modal-body">
                    <iframe height="500" width="500" id="frameId" src=""></iframe>
                </div>
            </div>
        </div>
    </div>


    @section script{

        <!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
             This must be loaded before fileinput.min.js -->
        <script src="~/plugin/js/plugins/canvas-to-blob.js" type="text/javascript"></script>
        <script src="~/plugin/js/fileinput.js"></script>
        <!-- page specific libs -->
        <script src="~/Content/lib1/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <!-- page application js -->
        <script src="~/Scripts/js1/component-gallery.js"></script>
        <script>
            function openDialog(x){
                var lnk = "/Content/projectsData/" + x.id;
                $("#frameId").attr("src" , lnk);
                $("#my1Modal").modal();
            };

            function currentTime() {
                var date = new Date();
                var currDate = date.getDate();
                var hours = date.getHours();
                var dayName = getDayName(date.getDay());
                var minutes = date.getMinutes();
                var monthName = getMonthName(date.getMonth());
                var year = date.getFullYear();
                var ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0' + minutes : minutes;
                var strTime = dayName + ' ' + monthName + ' ' + currDate + ' ' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                return(strTime);
            };

            function getMonthName(month) {
                var ar = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
                return ar[month];
            };

            function getDayName(day) {
                var ar1 = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
                return ar1[day];
            };
        </script>
    }
